[color]
    diff   = true
    grep   = true
    status = true
    ui     = true

[log]
    decorate = true

[push]
    default = simple

[alias]
    ci  = commit -S
    cia = commit -S --amend
    br  = branch
    co  = checkout
    st  = status --short
    au  = add -u
    cb  = checkout -b
    rh  = reset --hard
    pr  = pull --rebase
    dc  = diff --cached

    slog = log --show-signature
    tree = log --graph --pretty=oneline --abbrev-commit

    pour = merge --no-ff -S
    sq   = merge --squash -S

    sync = "!git pull upstream master && git push origin master"

[core]
    pager  = less -+$LESS -FRX
    editor = vim

[user]
    name  = Ian Byrd
    email = ian@byrd.im
    signingkey = A3B8055F

[credential]
	helper = osxkeychain

[url "http://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:

[url "https://github.com/"]
    insteadOf = gh:
[url "git@github.com:"]
    pushInsteadOf = gh:

[url "https://github.com/"]
    insteadOf = github:
[url "git@github.com:"]
    pushInsteadOf = github:

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
