[color]
	diff   = true
	grep   = true
	status = true
	ui     = true

[log]
	decorate = true

[push]
	default = simple

[alias]
	ci  = commit
	cia = commit --amend
	cis  = commit -S
	cias = commit --amend -S
	br  = branch
	co  = checkout
	st  = status --short
	au  = add -u
	cb  = checkout -b
	rh  = reset --hard
	pr  = pull --rebase
	dc  = diff --cached
	dt  = difftool
	dtc = difftool --cached

	slog = log --show-signature
	tree = log --graph --pretty=oneline --abbrev-commit

	pour = merge --no-ff
	sq   = merge --squash

	sync = "!git pull upstream master && git push origin master"

[core]
	pager  = less -+$LESS -FRX
	editor = vim
	quotePath = false

[user]
	name  = Ilya Kowalewski
	email = ilya@hrest.org
	signingkey = B26D0E615F3ACB767913C5BAFF6A1713507CD7A5

[gpg]
	program = /usr/local/bin/gpg

[credential]
	helper =
[init]
	defaultBranch = master
[diff]
	tool = vimdiff
[difftool]
	prompt = false

[url "git@git.sr.ht:~"]
	insteadOf = hut:
	pushInsteadOf = hut:
[url "git@gitlab.com:"]
	insteadOf = gl:
	pushInsteadOf = gl:
[url "git@github.com:"]
	insteadOf = gh:
	pushInsteadOf = gh:
[url "git@github.com:coingaming/"]
	insteadOf = yolo:
	pushInsteadOf = yolo:

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
